{% extends 'base.html' %}
{% block title %}
    GuateTrivia - Ingresar
{% endblock %}

{% block content %}
    <div class="login-main">
        <div class="login-form">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="login-intro">
                    <h1>Ingresar a  <br> GuateTrivia!</h1>
                </div>
                <div class="col-auto">
                    {{ form.username.label( class="col-form-label-lg" ) }}
                    <div class="input-group">
                        <div class="input-group-text">👤</div>
                        {{ form.username( type="text", class="form-control form-control-lg", placeholder="Username", id="username") }}
                    </div>
                </div>
                <div class="col-auto">
                    {{ form.password.label( class="col-form-label-lg" ) }}
                    <div class="input-group">
                        <div class="input-group-text">🔑</div>
                        {{ form.password( type="password", class="form-control form-control-lg", id="password" ) }}
                    </div>
                </div>

                <br>
                <div class="col-auto">
                    <div class="input-group">
                        {{ form.submit( class="btn btn-lg btn-block btn-primary" ) }}
                    </div>
                </div>

                <div class="form-login">
                    <p>¿Olvidaste tu contraseña?</p>
                </div>
                <div class="form-login">
                    <p>¿Eres nuevo? <a href="{{ url_for('register') }}">¡Haz clic para Registrarte!</a></p>
                </div>
            </form>
        </div>
        <img src="{{ url_for('static', filename='images/guatetrivia_001.png') }}" class="login-img">
    </div>
{% endblock %}